@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Montserrat:400,700");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    width: 100%;
    margin-top: 60px;
    height: 100%;
}

.path {
    text-align: start;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    font-style: normal;
    color: black;
    letter-spacing: 0.01em;
}

.title {
    text-align: start;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
    letter-spacing: 0.01em;
    line-height: 20px;
}

.filter-dropdown {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

.filter-dropdown button {
    background-color: transparent;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: #666;
    transition: background-color 0.2s;
}

.filter-dropdown button:hover {
    background-color: #f7f7f7;
}

.chart-container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.summary-table-container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}