@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Montserrat:400,700");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    width: 100%;
    margin-top: 60px;
    height: 100%;
}

.path {
    text-align: start;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    font-style: normal;
    color: black;
    letter-spacing: 0.01em;
}

.title {
    text-align: start;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
    letter-spacing: 0.01em;
    line-height: 20px;
}