@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Montserrat:400,700");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin-top: 60px;
    background-color: #fff;
    height: 100%;
}

.text_layout {
    border: 1px solid #ccc;
}

.path {
    text-align: start;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    font-style: normal;
    color: black;
    letter-spacing: 0.01em;
}

.title {
    text-align: start;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
    letter-spacing: 0.01em;
    line-height: 20px;
}

.category-page {
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem;
}

.category-page .search-container {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
}

.search-container input[type="text"] {
    padding-left: 2.5rem;
    margin-bottom: 1rem;
    width: 300px;
    height: 40px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.search-container .search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar button {
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 50px;
    height: 50px;
    background-color: #2a3f54;
    color: white;
    cursor: pointer;
}

.category-page table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.category-page th {
    text-align: left;
    background-color: #eee;
    padding: 0.5rem;
    font-size: 1rem;
}

.category-page th:first-child,
.category-page td:first-child {
    padding-left: 1rem;
}

.category-page td {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}

.category-page img {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.category-page tbody tr:last-child td {
    border-bottom: none;
}

.category-page .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.category-page .pagination button {
    margin-left: 10px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #2a3f54;
    color: white;
    cursor: pointer;
}

.category-page .pagination button[disabled] {
    color: gray;
    background-color: lightgray;
    border-color: gray;
    cursor: not-allowed;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.edit-btn,
.delete-btn {
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.edit-btn {
    color: #218838;
}

.delete-btn {
    color: #c82333;
}

td.status {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    padding: 5px 5px;
    border-radius: 10px;
}

td.status.active {
    color: #218838;
    background-color: #21883775;
    font-weight: 700;
}

td.status.inactive {
    color: #c82333;
    background-color: #c8233356;
    font-weight: 700;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus,
input[type="date"]:focus {
    outline: none;
    border-color: #2a3f54;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #2a3f54;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #2a3f54;
}